@font-face {
     font-family: 'Comfortaa';
     src: url(/Comfortaa-Regular.ttf);
}

* {
     font-family: 'Inter', sans-serif;
     margin: 0;
     padding: 0;
}

h1 {
     font-family: 'Comfortaa';
     font-size: 48px;
     font-weight: bold;
     line-height: 1;
}

h2 {
     font-family: 'Comfortaa';
     font-size: 18px;
     font-weight: bold;
     line-height: 1;
}

h3 {
     font-size: 16px;
}

p {
     font-size: 14px;
     margin: 1em 0;
}

a {
     font-family: inherit;
     color: inherit;
     text-decoration: inherit;
}

pre {
     background: rgba(244, 244, 244, 0.5);
     border: 1px solid #ddd;
     border-left: 3px solid #f36d33;
     color: #444;
     page-break-inside: avoid;
     font-family: monospace;
     font-size: 15px;
     line-height: 1.6;
     margin-bottom: 1.6em;
     max-width: 100%;
     overflow: auto;
     padding: 1em 1.5em;
     display: block;
     word-wrap: break-word;
}

.webgl {
     position: fixed;
     top: 0;
     left: 0;
     outline: none;
}

#nav {
     position: absolute;
     padding-left: 5px;
     height: 100vh;
     min-height: 500px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;

     transform: translateX(-100px);
     opacity: 0;
     transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button {
     padding: 10px 5px;
     writing-mode: sideways-lr;
     color: white;
     border-radius: 20px;
}

#name {
     position: absolute;
     top: 5px;
     left: 200px;
     color: rgb(255, 255, 255);

     transform: translateY(-100px);
     opacity: 0;
     transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

#overlay-content {
     position: relative;
     height: 100%;
     overflow-y: auto;
     padding: var(--content-padding);
     transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

#projects-heading {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 20px;
}

#not-found-heading {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 20px;
}

#overlay-content>h1 {
     margin: 20px 0px 20px 20px;
}

#overlay-content > p {
     width: calc(100% - 40px);
     margin: 20px 0px 20px 20px;
}

#overlay {
     position: fixed;
     height: calc(100vh - 2px); /*border width*/
     right: 0vw;
     color: rgb(0, 0, 0);
     overflow: hidden;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;

     transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

#overlay::before {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}

#overlay::after {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}

.overlay--hidden {
     width: 40vw;
     opacity: 0;
}

.overlay--panel {
     width: 40vw;
          border-radius: 20px;
}

.overlay--expanded {
     width: 100vw;
     border-radius: 0;
     --content-padding: 0 5vw 0 5vw;
}

#overlay.overlay--expanded::before,
#overlay.overlay--expanded::after {
     border-radius: 0;
}

.show-ui {
     transform: translate(0, 0) !important;
     opacity: 1 !important;
}

.icon {
     display: flex;
     width: 30px;
     height: 30px;
     background-color: rgba(255, 255, 255, 0.25);
     border: 0.5px solid rgba(255, 255, 255, 0.3);
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 50px 0px;
     cursor: pointer;
     align-items: center;
     justify-content: center;
     margin-right: 5px;
}

.icon:hover {
     background-color: rgba(190, 190, 190, 0.25);
}



#scene-control {
     display: none;
}



/*VISUAL GUIDE FROM APPLE LIQUID GLASS UI:*/

/*https: //www.apple.com/newsroom/images/2025/06/apple-introduces-a-delightful-and-elegant-new-software-design/article/Apple-WWDC25-Liquid-Glass-Icon-Composer-250609_big.jpg.large.jpg*/

.glass-card {
     isolation: isolate;
     box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
     backdrop-filter: blur(6px);
     -webkit-backdrop-filter: blur(6px);
     border: 1px solid rgba(255, 255, 255, 0.6);
     background: rgba(255, 255, 255, 0.2);
}

.glass-card::before {
     content: '';
     position: absolute;
     inset: 0;
     z-index: -1;
     border-radius: 20px;
     box-shadow: inset 0 0 20px -5px rgba(255, 255, 255, 0.7);
     background: rgba(255, 255, 255, 0.1);
}

.glass-card::after {
     content: '';
     position: absolute;
     inset: 0;
     z-index: -2;
     border-radius: 20px;
     backdrop-filter: blur(6px);
     isolation: isolate;
}

.spacer {
     height: 60px;
}

/* ----------  Project Card Below ------------- */

#projects-container {
     display: flex;
     flex-flow: row wrap;
     gap: 50px;
     justify-content: space-between;
     align-items: center;
     margin: 20px;
}

.project-card {
     max-width: 100%;
     min-width: 300px;
     width: 100%;
     transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card--panel {
     width: 100%;
}

.project-card--expanded {
     width: 30%;

}

.card-title {
     display: flex;
     flex-flow: row nowrap;
}

.card-title > h2 {
     font-size: 24px;
     line-height: 30px;
     text-align: left;
     width: 60%
}

.project-card>img {
     width: calc(100% - 10px);
     padding: 0;
     margin: 0 5px 0 5px;
}

.project-card>* {
     margin: 5px;
}

.links-container {
     margin-left: auto;
     display: flex;
     flex-flow: row wrap;
     gap: 5px;
}

.links-container>a {
     background: rgba(137, 169, 255, 0.7);
}

.technologies-container {
     display: flex;
     flex-flow: row wrap;
     border-radius: 5px;
}

.technologies {
     font-size: 12px;
     padding: 3px;
     box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
     background: rgba(255, 255, 255, 0.3);
     color: black;
     border: 1px solid rgba(0, 0, 0, 0.5);
}

.tags-container {
     display: flex;
     flex-flow: row wrap;
}

.tags-container > * {
     background: rgba(137, 169, 255, 0.3);
}

.tags {
     font-size: 12px;
     padding: 3px;
     box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
     background: rgba(255, 255, 255, 0.3);
     color: black;
     border: 1px solid rgba(0, 0, 0, 0.5);
}

.project-card-img {
     border-radius: 5px;
     padding: 3px;
     box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
     background: rgba(255, 255, 255, 0.3);
     color: black;
     aspect-ratio: 16 / 9;
     object-fit: cover;
}






/* ------------ Link Icons Below --------------- */

.link-icon-container {
     display: flex;
     flex: row nowrap;
     justify-content: right;
     height: 35px;
     align-self: flex-end;
}

.link-icon-container > *:last-child {
     padding-right: 0;
}

.link-icon {
     display: flex;
     justify-content: flex-end;
     padding: 0 2.5px 0 2.5px;
     height: 35px;
}

.reveal-btn {
     display: inline-flex;
     align-items: center;
     justify-content: flex-end;

     width: 20px;
     height: 20px;
     padding: 5px;
     gap: 5px;

     overflow: hidden;
     white-space: nowrap;

     background-color: rgba(255, 255, 255, 0.25);
     border: 0.5px solid rgba(255, 255, 255, 0.3);
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 50px 0px;
     color: rgb(0, 0, 0);

     cursor: pointer;

     transition: width 180ms ease;
}

.link-icon:hover .reveal-btn {
     width: 90px;
     background-color: rgba(190, 190, 190, 0.25);
}

/* --------------- BLOG BELOW ---------------- */

#blog {
     transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

#blog a {
     font-family: inherit;
     color: navy;
}

#blog a:visited {
     color: darkmagenta;
}

#blog pre {
     width: calc(100% - 3em - 40px - 4px)
}

#blog-body h1 {
     font-size: 28px;
     font-weight: bold;
}
#blog-body h2 {
     font-size: 20px;
}

.blog--expanded {
     width: 55%;
     margin-left: auto;
     margin-right: auto;
}

.blog--panel {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
}

#blog-heading {
     display: flex;
     flex: row nowrap;
     align-items: center;
     justify-content: space-between;
}

#blog-heading {
     margin: 20px 15px 0px 20px;
}

#blog-summary {
     margin: 10px 20px 0px 20px;
     font-size: 12px;
     font-family: 'Comfortaa';
}

#blog-main-image {
     width: calc(100% - 40px);
     margin: 20px 20px 0px 20px;
     aspect-ratio: 16 / 9;
     object-fit: cover;
     border-radius: 5px;
}

#blog-subheading {
     width: calc(100% - 40px);
     margin: 0px 20px 0px 20px;
}

#blog-subheading > p {
     margin: 5px 0 60px 0;
     font-size: 12px;
}

#blog-body > * {
     width: calc(100% - 40px);
     margin: 20px 20px 0px 20px;
}

/* #blog-body > * > *{
     width: 100%;
     display: block;
     background-color: yellow;
} */

#blog-body > * > li{
     width: calc(100% - 40px);
     margin: 0px 0px 0px 20px;
     font-size: 14px;
}

#blog-body img {
     width: 100%;
     object-fit: cover;
     border-radius: 5px;
}

/* .forced-aspect-ratio {
     aspect-ratio: 3/2;
} */

#metadata {
     display: flex;
     width: calc(100% - 40px);
     margin: 10px 20px 40px 20px;
     justify-content: space-between;
}

#by {
     margin: 0 10px 0 10px;
     font-weight: bold;
     font-family: 'Comfortaa';
}

#blog-dates {
     margin-top: 8px;
     align-self: end;
     font-weight: normal;
}

#blog-dates > * {
     margin: 0;
     font-size: 11px;
     font-family: 'Comfortaa';
}

#by-img-container {
     display: flex;
}

#by-img {
     object-fit: cover;
     filter: contrast(125%) grayscale(100%);
     width: 50px;
     height: 50px;
     border-radius: 50%;
     overflow: hidden;
}


/* ------- Blog Cards Below --------- */

.blog-card {
     display: flex;
     padding: 20px 20px 20px 20px;
     width: calc(100% - 40px);
     overflow: hidden;
     gap: 20px;
     max-width: 550px;
}


.blog-card-img {
     width: 150px;
     height: 150px;
     overflow: hidden;
     object-fit: cover;
     flex-shrink: 0;
     border-radius: 5px;
}

.blog-card-text {
     display: flex;
     flex-direction: column;

}

.blog-card-title{
     font-size: 24px;
}

.blog-card-summary {
     font-size: 12px;
}

.horizontal-line {
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 1px;
     max-width: 550px;
     margin-left: 20px;
     width: calc(100% - 40px);

}

#blog-container > :last-child { /* no horizontal divider on last element */
     border: none;
}


/* -------- contact --------- */

#mailto-container {
     display: grid;
     place-items: center;
}

#mailto {
     margin-top: 20px;
     background-color: rgba(255, 255, 255, 0.25);
     border: 0.5px solid rgba(255, 255, 255, 0.5);
     border-radius: 15px;
     box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 50px 0px;
     cursor: pointer;
     padding: 5px;
}

#mailto:hover {
     background-color: rgba(190, 190, 190, 0.25);
}